*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy';
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper-box {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 70px;
    background-color: #fff;
    margin-bottom: 90px;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 1px #ccc;
}

header:hover {
    opacity: 0.7;
}

header:active {
    opacity: 0.4;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    list-style-type: none;
    margin-left: 100px;
}

.item {
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 16px;
}

.item:hover {
    display: inline-block;
    border-bottom: 5px solid #000;
}

.item:active {
    display: inline-block;
    background-color: rgba(25, 25, 25, 0.7);
}

.link {
    text-decoration: none;
    color: #000;
}

.drop {
    position: absolute;
    list-style-type: none;
    display: none;
    top: 55px;
    transform: translateX(-130px);
    margin-left: 40px;
}

.drop-item:nth-child(1) {
    margin-top: 20px;
}

.drop-link {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #fff;
}

.drop-link:hover {
    background-color: #00BAFC;
}

.drop-link:active {
    opacity: 0.7;
    background-color: #00BAFC;
}

.item:hover:nth-child(1) .drop {
    display: inline-block;
}

.number {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding: 8px 10px;
    border: 3px solid #00BAFC;
    background-color: #00BAFC;
    text-decoration: none;
    width: 150px;
    height: 40px;
}

.number:hover {
    color: #00BAFC;
    background-color: #fff;
    border: 3px solid #00BAFC;
}

.number:active {
    opacity: 0.7;
    color: #fff;
    background-color: #00BAFC;
    border: 3px solid #00BAFC;
}

/* section */

main {
    position: relative;
    top: 150px;
}

.basic-box {
    width: 1200px;
    height: 284px;
    padding: 72px 200px;
    text-align: center;
}

.basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 804px;
    height: 378px;
    box-shadow: 3px 3px 10px 3px #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    /* margin-right: 70px; */
}

.box2 {
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 804px;
    height: 410px;
    box-shadow: 3px 3px 10px 3px #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    /* margin-right: 70px; */
}

.box3 {
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 804px;
    height: 346px;
    box-shadow: 3px 3px 10px 3px #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    /* margin-right: 70px; */
}

.box:hover {
    box-shadow: 2px 2px 5px 2px #ccc;
}

.box:active {
    box-shadow: 1px 1px 5px 1px #ccc;
}
.box2:hover {
    box-shadow: 2px 2px 5px 2px #ccc;
}

.box2:active {
    box-shadow: 1px 1px 5px 1px #ccc;
}
.box3:hover {
    box-shadow: 2px 2px 5px 2px #ccc;
}

.box3:active {
    box-shadow: 1px 1px 5px 1px #ccc;
}

.img {
    width: 200px;
    height: 230px;
    margin-right: 40px;
    margin-top: -50px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 16px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.texts {
    width: 500px;
    height: 134px;
}

.list1 {
    list-style-type: none;

}

.item1,
.item2,
.item3 {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.item1::before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    background-image: url(./images-1/icon/tochka.svg);
}
.item2::before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    background-image: url(./images-1/icon/tochka.svg);
}
.item3::before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    background-image: url(./images-1/icon/tochka.svg);
}

.item3:nth-child(4) {
    margin-bottom: 26px;
}

.item1:nth-child(5) {
    margin-bottom: 26px;
}

.item2:nth-child(6) {
    margin-bottom: 26px;
}

a {
    text-decoration: none;
}

.order {
    text-align: center;
    width: 167px;
    height: 40px;
    padding: 10px 16px;
    border-radius: 5px;
    color: #fff;
    background-color: #00BAFC;
}

.order:hover {
    opacity: 0.7;
}

.order:active {
    opacity: 0.5;
}

.service {
    margin-left: 20px;
    color: #00BAFC;
}

.service:hover {
    opacity: 0.7;
}

.service:active {
    opacity: 0.5;
}

.mini-box {
    width: 1200px;
    height: 543px;
    margin-top: 50px;
    background-color: #00BAFC;
}

.sec-text6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 56px;
    color: #fff;
}

.sec-text5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0 250px;
    color: #fff;
    margin-bottom: 24px;
}

.inspection {
    width: 348px;
    height: 320px;
    margin-left: 35%;
    margin-top: 16px;
    border-radius: 5px;
    background-color: #fff;
}

.input {
    width: 300px;
    height: 56px;
    padding-left: 20px;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    background-color: #ccc;
    margin: 24px 24px 5px 24px;
}

.input::placeholder {
    color: #000;
}

.btn {
    width: 167px;
    height: 40px;
    margin-left: 25%;
    background-color: #00BAFC;
    color: #fff;
    margin-top: 16px;
    border-radius: 5px;
    border: 2px solid #00BAFC;
}

.btn:hover {
    box-shadow: 3px 3px 15px 3px #ccc;
}

.btn:active {
    opacity: 0.7;
    box-shadow: 2px 2px 10px 2px #ccc;
}

.footer {
    width: 1200px;
    height: 368px;
    display: flex;
    margin-top: 100px;
    padding: 106px 100px;
    background-color: #000;
}

.box9 {
    width: 320px;
    height: 162px;
    margin-right: 100px;
}

.h27 {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
}

.a7:hover {
    color: #00BAFC;
}

.a7:active {
    opacity: 0.7;
}

.p9 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.list7 {
    width: 143px;
    height: 226px;
    margin-right: 87px;
    list-style-type: none;
}

.list8 {
    width: 162px;
    height: 130px;
    list-style-type: none;
}

.a7 {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.img8 {
    margin-top: 5px;
    text-align: center;
    margin-right: 5px;
    width: 22px;
    height: 24px;
}